@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
  /* transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s; */
}

/* a:hover {
  color: #ffa500;
} */

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1519px;
  width: 74.4%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  padding: 15px 0;
}

header .wrapper {
  width: 90.1%;
  display: flex;
  align-items: center;
}

h1 img {
  width: 130px;
  height: 29px;
}

.ham,
.cross {
  display: none;
  text-indent: -9999px;
}

.ham::before,
.cross::before {
  content: "\f0c9";
  float: right;
  color: #000;
  font-family: "fontAwesome";
  text-indent: 0;
}

.cross::before {
  content: "\f00d";
}


.menu {
  margin-left: 3.8%;
  flex-basis: 65.5%;
}

.menu ul li a {
  color: #686369;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.menu ul li a:hover {
  color: #ffa500;
}

.menu ul li:last-child a::after {
  content: "\f107";
  margin-left: 6%;
  font-family: "fontAwesome";
}

header ul {
  display: flex;
  justify-content: space-between;
}

header a {
  font-size: 18px;
}

.header-icons {
  margin-left: auto;
  margin-right: 1%;
  flex-basis: 5.5%;
}

.header-icons ul li a {
  text-indent: -9999px;
}

.header-icons ul li a::before {
  content: "\f002";
  float: right;
  font-family: "fontAwesome";
  color: #666e73;
  font-size: 21px;
  text-indent: 0;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.header-icons ul li a:hover:before {
  color: #ffa500;
}

.header-icons ul li:last-child a::before {
  content: "\f07a"; 
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner styling start  */

.banner {
  background-color: #3261B9;
  color: #fff;
}

.banner-top {
  padding: 13px 0;
}

.banner-top .wrapper {
  width: 90%;
  display: flex;
  align-items: center;
}

.banner-top h2 {
  font-size: 26px;
}

.banner-top-tabs {
  margin-left: 4.4%;
  display: flex;
  justify-content: space-between;
  flex-basis: 48.5%;
}

.banner-top-tabs li {
  cursor: pointer;
}

.banner-bottom {
  position: relative;
}

.banner-bottom-tabs {
  width: 18%;
  padding: 9px 9px;
  background: #fff;
  color: #000;
  box-sizing: border-box;
}

.banner-bottom-tabs li {
  font-size: 16px;
  cursor: pointer;
}

.banner-bottom .wrapper {
  width: 92%;
  padding: 17px 0;
  position: absolute;
  top: 0;
  left: 5%;
}

.banner-bottom h3 {
  margin-top: 67px;
  margin-left: 8.3%;
  font-size: 38px;
}

.banner-bottom p {
  width: 69%;
  margin-top: 16px;
  margin-left: 8.3%;
  font-size: 24px;
  line-height: 31px;
  opacity: 0.8;
}

.banner-bottom span {
  margin-top: 20px;
  margin-left: 8.3%;
  display: block;
  font-size: 18px;
}

.banner-bottom button {
  padding: 10px;
  margin-top: 25px;
  margin-left: 8.3%;
  border: 4px solid #fff;
  display: flex;
  align-items: center;
  background: transparent;
  color: #fff;
  font-size: 17px;
  white-space: nowrap;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.banner-bottom button:hover {
  background-color: #000;
  color: #fff;
}

.banner-bottom button::before {
  content: "\f144";
  margin-right: 3%;
  font-family: "fontAwesome";
  font-size: 52px;
  text-indent: 0;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.banner-bottom button:hover:before {
  color: #ffa500;
}

.modal-background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.close-video {
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  display: none;
  text-indent: -9999px;
}

.close-video::before {
  content: "\f00d";
  float: right;
  color: #ff0000;
  font-family: "fontAwesome";
  font-size: 30px;
  text-indent: 0;
  cursor: pointer;
}

.play-video {
  width: 50%;
  height: auto;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
}

.play-video video {
  width: 100%;
  height: 100%;
}

.contact-info {
  width: 28.7%;
  padding: 16px 14px 20px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  background-color: #000;
  box-sizing: border-box;
}

.contact-info li a {
  color: #fff;
  font-size: 20px;
  white-space: nowrap;
}

.contact-info li:nth-child(2) {
  margin-left: 11%;
}

.contact-info li a::before {
  content: "\f095";
  margin-right: 3%;
  font-family: "fontAwesome";
  font-size: 21px;
  text-indent: 0;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.contact-info li a:hover:before {
  color: #ffa500;
}

.contact-info li:last-child a::before {
  content: "\f003";
  margin-right: 7%;
}




/* banner styling end  */
/* what is digital transformation start  */

.what-is-digital-transformation {
  padding: 102px 0 94px;
  background-color: #F1F2F6;
}

.what-is-digital-transformation .wrapper {
  display: flex;
}

.transformation-content {
  flex-basis: 55%;
}

.what-is-digital-transformation h3 {
  font-size: 37px;
  color: #343436;
}

.what-is-digital-transformation p {
  width: 94%;
  margin-top: 20px;
  font-size: 18px;
  line-height: 27px;
  opacity: 0.9;
}

.what-is-digital-transformation a {
  margin-top: 19px;
  color: #0c70ad;
  line-height: 25px;
  font-size: 17px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.what-is-digital-transformation a:hover {
  color: #ffa500;
}

.what-is-digital-transformation figure {
  width: 454px;
  height: 229px;
  margin-left: 5.2%;
}

/* what is digital transformation end  */
/* how to transform products start  */

.how-to-transform-products {
  padding: 96px 0 87px;
}

.how-to-transform-products h3 {
  color: #343436;
  font-size: 37px;
}

.how-to-transform-products span {
  margin-top: 20px;
  color: #343436;
  display: block;
  font-size: 18px;
}

.product-transformation-points {
  margin-top: 19px;
}

.transformation-point-contents {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 27px 0;
  display: flex;
}

.transformation-point-icon {
  text-indent: -9999px;
}

.product-transformation-points .transformation-point-contents .transformation-point-icon::before {
  content: "\f183";
  float: right;
  color: #495D85;
  font-family: "fontAwesome";
  font-size: 55px;
  text-indent: 0;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.product-transformation-points .transformation-point-contents .transformation-point-icon:hover:before {
  color: #ffa500;
}

.product-transformation-points .transformation-point-contents:nth-child(2) .transformation-point-icon::before {
  content: "\f13d";
} 

.product-transformation-points .transformation-point-contents:nth-child(3) .transformation-point-icon::before {
  content: "\f013";
}

.product-transformation-points .transformation-point-contents:nth-child(4) .transformation-point-icon::before {
  content: "\f187";
}

.transformation-point-text {
  margin-left: 2%;
}

.transformation-point-text h4 {
  color: #343436;
  font-size: 34px;
}

.transformation-point-text span {
  width: 86%;
  margin-top: 20px;
  color: #343436;
  display: block;
  font-size: 17px;
  line-height: 24px;
}

.transformation-point-text a {
  margin-top: 23px;
  color: #0c70ad;
  font-size: 17px;
}

.transformation-point-contents figure {
  margin-left: auto;
}

/* how to transform product end  */
/* what is your story start  */

.what-is-your-story {
  padding-top: 85px;
  background: #F1F2F6;
}

.resources {
display: flex;
align-items: center;
color: #86878B;
font-size: 14px;
font-weight: bold;
transition: all ease-in-out 0.5s;
-webkit-transition: all ease-in-out 0.5s;
-ms-transition: all ease-in-out 0.5s;
-o-transition: all ease-in-out 0.5s;
-moz-transition: all ease-in-out 0.5s;
}

.resources:hover {
  color: #ffa500;
}


.resources::before {
content: "\f1e1 ";
margin-right: 5px;
font-family: "fontAwesome";
font-size: 29px;
text-indent: 0;
transition: all ease-in-out 0.5s;
-webkit-transition: all ease-in-out 0.5s;
-ms-transition: all ease-in-out 0.5s;
-o-transition: all ease-in-out 0.5s;
-moz-transition: all ease-in-out 0.5s;
}

.resources:hover::before {
  color: #ffa500;
}

.mysurface-story-contents {
  padding: 32px 0;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
}

.mysurface-story-text {
  flex-basis: 63%;
}

.what-is-your-story h3 {
  color: #343436;
  font-size: 37px;
}

.steven {
  margin-top: 16px;
  display: block;
  color: #343436;
  font-size: 18px;
}

.mysurface-story-date {
  margin-top: 24px;
  display: block;
  color: #343436;
}

.mysurface-story-text p {
  width: 78%;
  margin-top: 23px;
  color: #343436;
  font-size: 18px;
  line-height: 27px;
}

.mysurface-story-text a {
  margin-top: 19px;
  color: #0c70ad;
}

.what-is-your-story figure {
  width: 342px;
  height: 148px;
}

.view-all-blogs {
  text-align: center;
}

.all-blog-posts {
  padding: 17px 19px;
  margin-top: 86px;
  background-color: #3460B7;
  color: #fff;
}

.mystory-bottom {
  display: flex;
  margin-top: 88px;
}

.mystory-bottom-left,.mystory-bottom-right {
  padding: 74px 0 83px;
  flex-basis: 50%;
  background-color: #3973D6;
}

.mystory-bottom-left ul li a,.mystory-bottom-right ul li a {
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  white-space: nowrap;
}

.mystory-bottom-left ul li:first-child a {
  white-space: pre-wrap;
}

.mystory-bottom-left ul li:last-child a {
  display: flex;
  align-items: center;
}

.mystory-bottom-left ul li a::before {
  content: "\f019";
  margin-right: 2%;
  font-family: "fontAwesome";
  font-size: 21px;
  text-indent: 0;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.mystory-bottom-left ul li:nth-child(2) a::before {
  content: "\f0f6";
}

.mystory-bottom-left ul li:nth-child(3) a::before {
  content: "\f104";
  margin-right: 3%;
  font-size: 44px;
}

.mystory-bottom-left ul li a:hover:before {
  color: #ffa500;
}

.mystory-bottom-left ul li a:hover,.mystory-bottom-right ul li a:hover {
  color: #ffa500;
}

.mystory-bottom-right ul li a::before {
  content: "\f095";
  margin-right: 2%;
  font-family: "fontAwesome";
  font-size: 21px;
  text-indent: 0;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.mystory-bottom-right ul li a:hover:before {
  color: #ffa500;
}

.mystory-bottom-right ul li:last-child a::before {
  content: "\f003";
  margin-right: 7%;
}


.mystory-bottom-right {
  background-color: #152350;
}

.mystory-bottom-left ul , .mystory-bottom-right ul {
  width: 63%;
  margin-left: 17.1%;
  display: flex;
  flex-direction: column;
  row-gap: 24px; 
}

.mystory-bottom-left ul a, .mystory-bottom-right ul a {
font-size: 20px;
color: #fff;
line-height: 28px;
}

/* what is your story end  */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

.footer-top {
  padding: 14px 0;
  background: #59545A;
  color: #fff;
}

.footer-top .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-top .wrapper span {
  font-size: 18px;
}

.footer-top .wrapper ul {
  margin-left: 1.4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 16%;
}

.footer-top .wrapper ul li a {
  color: #fff;
}

.footer-icons li a {
  text-indent: -9999px;
}

.footer-icons li a::before {
  content: "\f230";
  float: right;
  color: #fff;
  font-family: "fontAwesome";
  font-size: 41px;
  text-indent: 0;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.footer-icons li:nth-child(2) a:before {
  content: "\f099";
}

.footer-icons li:nth-child(3) a:before {
  content: "\f0e1";
}

.footer-icons li:nth-child(4) a:before {
  content: "\f16a";
}

.footer-icons li a:hover:before {
  color: #ffa000;
}


.footer-bottom {
  padding: 46px 0;
}

.footer-bottom .wrapper {
  width: 90%;
}

.footer-links {
  width: 90.6%;
  display: flex;
  justify-content: space-between;
}

.footer-links-category ul {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

.footer-links-category ul li a {
  color: #666e73;
  font-size: 13px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.footer-links-category ul li a:hover {
  color: #ffa500;
}


.footer-title {
  color: #343436;
  font-size: 17px;
  font-weight: bold;
}

.footer-bottom-lower {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.lang {
  color: #666e73;
  font-size: 13px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.lang:hover {
  color: #ffa500;
}

.lang::before {
  content: "\f0ac";
  margin-right: 5%;
  font-family: "fontAwesome";
  font-size: 25px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.lang:hover:before {
  color: #ffa500;
}

.footer-lower-links {
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
  flex-basis: 47.4%;
}

.footer-lower-links li a {
  color: #666e73;
  font-size: 13px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.footer-lower-links li a:hover {
  color: #ffa500;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

/*media query for 1440px starts here*/
@media only screen and (max-width: 1440px) {
  .banner-bottom figure {
    width: auto;
  }

  .contact-info {
    width: 35%;
    padding: 15px 12px;
  }

  .contact-info li a {
    font-size: 14px;
  }

  .banner-bottom h3 {
    margin-top: 0;
  }

  .banner-bottom button::before {
    font-size: 20px;
  }

  .banner-bottom p {
    margin-top: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .banner-top-tabs {
    flex-basis: 65%;
  }

  .footer-top .wrapper ul  {
    margin-left: 5%;
    flex-basis: 30%;
  }

  .footer-lower-links {
    flex-basis: 55%;
  }

  .footer-lower-links li a {
    font-size: 10px;
  }
}

/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {

  .menu {
    flex-basis: 65.5%;
  }

  .menu ul li a {
    font-size: 15px;
  }

.banner-top-tabs {
  flex-basis: 55%;
}

.banner-top-tabs li {
  font-size: 14px;
}

.banner-bottom-tabs {
  padding: 9px 2px;
  width: 18%;
}

.banner-bottom-tabs li {
  font-size: 11px;
}

.footer-top .wrapper ul {
  margin-left: 4.4%;
  flex-basis: 30%;
}

.footer-lower-links {
  flex-basis: 58.4%;
}

.footer-lower-links li a {
  font-size: 10px;
}

.contact-info {
  width: 32%;
}

}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  header .wrapper,.what-is-digital-transformation .wrapper,.transformation-point-contents,.mysurface-story-contents,.mystory-bottom,.footer-bottom-lower {
    flex-direction: column;
    row-gap: 20px;
  }

  header a {
    font-size: 15px;
  }

  .banner-top-tabs li {
    font-size: 14px;
  }
  
.menu {
  width: 100%;
  margin: 0;
}

.header-icons {
  width: 8%;
}

.what-is-digital-transformation figure {
  width: auto;
  margin: 0;
}

.product-transformation-points .transformation-point-contents .transformation-point-icon::before {
  float: left;
}

.product-transformation-points .transformation-point-contents .transformation-point-icon::before {
  margin: 0;
}

.footer-top .wrapper ul  {
  flex-basis: 30%;
}

.footer-icons li a::before {
  font-size: 30px;
}

.footer-links {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.footer-links-category {
  flex-basis: 30%;
}

.lang::before {
  margin-right: 2%;
}

.contact-info {
  width: 50%;
}

.banner-bottom figure {
  height: 589px;
}

.banner-bottom h3 {
  margin-top: 20px;
}

.banner-bottom p {
  margin-top: 20px;
}

}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

  .banner-top-tabs {
    flex-basis: 70%;
  }

  .banner-bottom-tabs {
    width: 28%;
  }

  .contact-info {
    width: 64%;
    left: 34%;
  }

  .menu {
    padding: 20px;
    display: none;
    background-color: #ff0000;
    color: #fff;
  }

  .header-icons {
    width: 12%;
  }

  .menu ul {
    flex-direction: column;
    row-gap: 10px;
  }

  .ham {
    display: block;
    margin-right: auto;
  }



}