@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
  /* transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s; */
}

/* a:hover {
  color: #ffa500;
} */

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1519px;
  width: 74.4%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  padding: 15px 0;
}

header .wrapper {
  width: 90.1%;
  display: flex;
  align-items: center;
}

.menu {
  margin-left: 3.8%;
  flex-basis: 65.5%;
}

.menu ul li a {
  color: #686369;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header a {
  font-size: 18px;
}

.header-icons {
  margin-left: auto;
  flex-basis: 8.5%;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner styling start  */

.banner {
  background-color: #3261B9;
  color: #fff;
}

.banner-top {
  padding: 13px 0;
}

.banner-top .wrapper {
  width: 90%;
  display: flex;
  align-items: center;
}

.banner-top h2 {
  font-size: 26px;
}

.banner-top-tabs {
  margin-left: 4.4%;
  display: flex;
  justify-content: space-between;
  flex-basis: 48.5%;
}

.banner-bottom {
  position: relative;
}

.banner-bottom-tabs {
  width: 18%;
  padding: 9px 9px;
  background: #fff;
  color: #000;
  box-sizing: border-box;
}

.banner-bottom-tabs li {
  font-size: 14px;
}

.banner-bottom .wrapper {
  width: 92%;
  padding: 17px 0;
  position: absolute;
  top: 0;
  left: 5%;
}

.banner-bottom h3 {
  margin-top: 67px;
  margin-left: 8.3%;
  font-size: 38px;
}

.banner-bottom p {
  width: 69%;
  margin-top: 16px;
  margin-left: 8.3%;
  font-size: 24px;
  line-height: 31px;
  opacity: 0.8;
}

.banner-bottom span {
  margin-top: 20px;
  margin-left: 8.3%;
  display: block;
  font-size: 18px;
}

.banner-bottom button {
  padding: 10px;
  margin-top: 25px;
  margin-left: 8.3%;
  background: transparent;
  color: #fff;
  border: 3px solid #fff;
  font-size: 17px;
}

.contact-info {
  width: 28.7%;
  padding: 19px 14px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  box-sizing: border-box;
}

.contact-info li a {
  color: #fff;
  font-size: 18px;
}

/* banner styling end  */
/* what is digital transformation start  */

.what-is-digital-transformation {
  padding: 102px 0 94px;
  background-color: #F1F2F6;
}

.what-is-digital-transformation .wrapper {
  display: flex;
}

.transformation-content {
  flex-basis: 55%;
}

.what-is-digital-transformation h3 {
  font-size: 37px;
  color: #343436;
}

.what-is-digital-transformation p {
  width: 94%;
  margin-top: 20px;
  font-size: 18px;
  line-height: 27px;
  opacity: 0.9;
}

.what-is-digital-transformation a {
  margin-top: 19px;
  color: #0c70ad;
  line-height: 25px;
  font-size: 17px;
}

.what-is-digital-transformation figure {
  width: 454px;
  height: 229px;
  margin-left: 5.2%;
}

/* what is digital transformation end  */
/* how to transform products start  */

.How-to-transform-products {
  padding: 96px 0 87px;
}

.How-to-transform-products h3 {
  color: #343436;
  font-size: 37px;
}

.How-to-transform-products span {
  margin-top: 20px;
  color: #343436;
  display: block;
  font-size: 18px;
}

.product-transformation-points {
  margin-top: 19px;
}

.transformation-point-contents {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 27px 0;
  display: flex;
}

.tranformation-point-text {
  margin-left: 2%;
}

.tranformation-point-text h4 {
  color: #343436;
  font-size: 34px;
}

.tranformation-point-text span {
  width: 86%;
  margin-top: 20px;
  color: #343436;
  display: block;
  font-size: 17px;
  line-height: 24px;
}

.tranformation-point-text a {
  margin-top: 23px;
  color: #0c70ad;
  font-size: 17px;
}

.transformation-point-contents figure {
  margin-left: auto;
}

/* how to transform product end  */
/* what is your story start  */

.what-is-your-story {
  padding: 85px 0;
  background: #F1F2F6;
}

.resources {
  display: block;
  color: #313234;
}

.mysurface-story-contents {
  padding: 32px 0;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
}

.mysurface-story-text {
  flex-basis: 63%;
}

.what-is-your-story h3 {
  color: #343436;
  font-size: 37px;
}

.steven {
  margin-top: 16px;
  display: block;
  color: #343436;
  font-size: 18px;
}

.mysurface-story-date {
  margin-top: 24px;
  display: block;
  color: #343436;
}

.mysurface-story-text p {
  width: 78%;
  margin-top: 23px;
  color: #343436;
  font-size: 18px;
  line-height: 27px;
}

.mysurface-story-text a {
  margin-top: 19px;
  color: #0c70ad;
}

.what-is-your-story figure {
  width: 342px;
  height: 148px;
}

.all-blog-posts {
  padding: 17px 19px;
  margin-top: 86px;
  background-color: #3460B7;
  color: #fff;
}


/* what is your story end  */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  